@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 13 13 13; /* #0D0D0D */
    --foreground: 245 243 236; /* #F5F3EC */
  }

  body {
    @apply bg-background-default text-text-primary antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
